.nav {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  background-color: $color-bg;
  padding: 3rem;
  border-radius: 2rem;
  height: 80rem;
  width: 33rem;
  position: relative;
  gap: 5rem;
  transition: all 0.2s;
  user-select: none;

  &__container--min {
    width: 12.5rem;
  }

  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5rem auto 1rem auto;

    &--logo {
      display: flex;
    }
  }

  &__arrow {
    position: absolute;
    right: 0;
  }

  &__links {
    display: flex;
    flex-direction: column;

    &--link {
      display: flex;
      gap: 1.8rem;
      padding: 2rem;
      align-items: center;
      border-radius: 1.5rem;
      text-decoration: none;
      color: $color-text;
      text-transform: capitalize;
    }
  }

  &__selected {
    background-color: #fff;
  }
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;

  &__search {
    display: flex;
    gap: 1.3rem;
    align-items: center;
    background-color: $color-bg;
    border-radius: 1.5rem;
    padding: 0.6rem 2rem;
    width: 53rem;
  }

  &__input::placeholder {
    font-size: 1.4rem;
  }

  &__right {
    display: flex;
    gap: 1.8rem;
  }

  &__user {
    display: flex;
    gap: 0.6rem;
    position: relative;
  }

  &__user:hover {
    cursor: pointer;
  }

  &__user img {
    border-radius: 50%;
    width: 2.4rem;
    height: 2.4rem;
  }

  &__user h2 {
    font-weight: 400;
  }

  &__modal {
    position: absolute;
    top: 3rem;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 1.5rem;
    min-width: 25rem;
    box-shadow: -2px 4px 10px 0px rgba(219, 223, 253, 0.4);
    border: 1px solid rgba(219, 223, 253, 0.8);
    overflow: hidden;

    &--user {
      display: flex;
      align-items: center;
      gap: 1rem;
      cursor: default;
    }

    &--user img {
      width: 4.2rem;
      height: 4.2rem;
    }

    &--element {
      padding: 1.6rem 2.4rem;
      text-decoration: none;
      width: 100%;
    }

    &--element:not(:last-child) {
      border-bottom: 1px solid rgba(219, 223, 253, 0.8);
    }
    &--element:not(:first-child):hover {
      background-color: $color-bg;
      cursor: pointer;
    }

    & h2 {
      font-weight: 500;
    }

    & h3 {
      font-weight: 400;
      font-size: 1.2rem;
    }
  }
}
